<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">FroshProfiler</label>
    <label lang="en">FroshProfiler</label>
    <version>1.2.1</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://friendsofshopware.github.io/</link>
    <author>Friends of Shopware</author>
    <changelog version="1.0.6">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Performance optimization <a href="https://github.com/shyim/shopware-profiler/issues/27">#27</a></li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.7">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Allow local development <a href="https://github.com/shyim/shopware-profiler/issues/29">#29</a></li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.8">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Fixed usage on localhost <a href="https://github.com/shyim/shopware-profiler/issues/29">#29</a></li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.9">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Cache folder very big <a href="https://github.com/shyim/shopware-profiler/issues/30">#30</a></li>
                <li>Profiler breaks controller auto-registration <a href="https://github.com/shyim/shopware-profiler/issues/38">#38</a></li>
                <li>html comments in robots.txt <a href="https://github.com/shyim/shopware-profiler/issues/37">#37</a></li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.10">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Template error with Shopware Premium Plugin "SwagFuzzy" <a href="https://github.com/shyim/shopware-profiler/issues/44">#44</a></li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.11">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Plugin overwrites my xdebug.var_display_max_depth <a href="https://github.com/shyim/shopware-profiler/issues/45">#45</a></li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="en">
            <![CDATA[
                <h4>Performance Event Charts 🎉</h4>
                <ul>
                <li>Added event charts to show which events needs how long to execute</li>
                <li>Added overview of cache read/write/delete and a hit/miss metric</li>
                <li>Added new sidebar of security with all user informations and password encoders</li>
                <li>Added overview of container parameters to "Configuration" tab</li>
                <li>Added search form to developers.shopware.com</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Shopware 5.3 compatibility</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.2">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Added overview of used snippets per page</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.3">
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Added support for symfony forms collector</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.4">
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Added new configuration option to log javascript events</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.5">
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Fixed Fatal Error while Profiling Closure Event Listener</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.6">
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Fixed template name column size, thanks to larsbo <a href="https://github.com/shyim/shopware-profiler/issues/64">#64</a></li>
                    <li>Profiler reachable also if ip not on whitelist <a href="https://github.com/shyim/shopware-profiler/issues/63">#63</a></li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Profiler plugin is now part of Friends of Shopware group. Repository moved to https://github.com/FriendsOfShopware/FroshProfiler</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.2.1">
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Fixed units of query time, added config for dumpSize</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <description>
        <![CDATA[
            <b>Notice to used snippets</b>
            <p>Used snippets will be only displayed when no template cache is available. You can also disable template caching in our config.php see like <a href="https://developers.shopware.com/developers-guide/shopware-config/#template">https://developers.shopware.com/developers-guide/shopware-config/#template</a></p>
        ]]>
    </description>
</plugin>
