<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">ShyimProfiler</label>
    <label lang="en">ShyimProfiler</label>
    <version>1.0.1</version>
    <copyright>Shyim</copyright>
    <license>MIT</license>
    <link>https://github.com/shyim/shopware-profiler</link>
    <author>Shyim</author>
</plugin>
